{% extends 'base.html' %}

{% block title %} Create an account {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <ha>Register</ha>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form | crispy }} <!-- Display form properly -->
            <button type="submit" class="btn btn-success">Register</button>

            <p>Already have an account? Login <a href="{% url 'login' %}">here</a></p>
        </form>
    </div>
{% endblock %}